body {
  background-color: #333;
  color: #fff;
  height: 100%;
  overflow: hidden;
}
.why {
  text-align: right;
}
.parent {
  padding-top: 1.4%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.btn-container {
  display: flex;

  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
